@import url('/css/import/reset.css');
@import url('/css/import/font.css');
@import url('/css/import/color.css');
@import url('/css/import/grid.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Common */
body{min-width: 780px; overflow-x: hidden;}
hr{border-top: 1px solid #9CA3AF;}

/* border */
.border-base{border: 1px solid #CCCCCC; border-radius: 4px;}

/* ========================================= */
/* Login */
/* ========================================= */
.login-body{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  padding: 0 16px;
  min-height: 100vh;
  align-items: center;
  place-items: center;
}
.login-wrap{
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 16px;
  padding: 0 16px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  min-width: 485px;
}
.login{
  grid-column: 2 / 6;
  text-align: center;
}
.login .title{
  font-family: "MinSans-600";
  font-size: 2.25rem;
  line-height: 1;
  color: #094166;
  margin: 48px 0;
}
/* Social-login */
.social-logins {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  cursor: pointer;
}
.social-login > img{object-fit: contain;}
.social-login.google{
  border: 1px solid #E5E7EB;
  background: #fff;
}
.social-login p.google{
  font-family: "Roboto";
  font-weight: 500;
}
.social-login:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
}
.social-login > p {
  margin-left: 8px;
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 1;
  color: #111827;
}
.social-login.naver{background: #03C75A !important;}
.social-login p.naver{color: #fff !important;}
.social-login.kakao{background: #FEE500 !important;}
.social-login p.kakao{color: #371C1D !important;}

/* ========================================= */
/* Header */
/* ========================================= */
.header{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  background: #fff;
  border: 1px solid #E5E7EB;
  border-top: 0;
  position: sticky;
  top: 0;
  z-index: 3;
}
.add-shadow{
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.1);
}
@media (max-width: 960px) {
  .header{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .logo{grid-column: span 1 / span 1 !important;}
  .logo a{
    background-image: url(/images/starnet-logo-text.svg) !important;
    height: 60px !important;
  }
  .head-search-wrap{grid-column: span 2 / span 2 !important;}
  .header .search-form{display: block !important;}
  .nav{grid-column: 4 / 7 !important;}
}
.logo{grid-column: span 3 / span 3;}
.logo a{
  display: block;
  background-image: url(/images/starnet-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  height: 40px;
  max-width: 200px;
}
/* header - search */
.head-search-wrap{grid-column: span 4 / span 4;}
.header .search-form{
  display: flex;
}
.header .search-form .input-wrap{
  flex: 1 0 auto;
  position: relative;
}
.header .search-form .input-search{
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 0 44px 0 8px;
  outline: none;
  font-family: "MinSans-400";
  font-size: 1rem;
  color: #111827;
  text-overflow: ellipsis;
}
.header .search-form .input-search::placeholder{
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #9CA3AF;
  padding-left: 24px;
  background-image: url(/images/icons/icon-search-placeholder.svg);
  background-position: left 1px top 3px;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
}
.header .search-form .input-wrap .btn-clear {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 22px;
  height: 42px;
  background: transparent;
  background-image: url(/images/icons/icon-search-x.svg);
  background-position: 13px center;
  background-repeat: no-repeat;
}
.header .search-form .input-search:active,
.header .search-form .input-search:focus{
  border-bottom: 2px solid #094166;
}
.header .search-form .input-search:active + .btn-clear,
.header .search-form .input-search:focus + .btn-clear{
  filter: brightness(0) saturate(100%) invert(11%) sepia(5%) saturate(11%) hue-rotate(349deg) brightness(101%) contrast(95%);
}
.nav{
  margin-left: auto;
  display: flex;
  gap: 24px;
  grid-column: 8 / 13;
}
.nav a{
  padding: 10px 0;
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 130%;
  color: #9CA3AF;
}
.nav a:hover{
  color: #005691;
  text-shadow: 0.01rem 0.01rem #005691;
}
.nav a:active,
.nav a:focus{
  color: #005691;
}
.nav .account{
  display: flex;
  align-items: center;
}
.nav .account .photo input[type="file"]{
  display: none;
}
.nav .account .photo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nav .account .user{
  margin-left: 8px;
}
.nav .account .user a{
  color: #636871;
  font-family: "MinSans-400";
}
.nav .account .user a:hover{
  text-shadow: none;
  color: #005691;
}
.nav .account .user .arrow{
  border: solid #636871;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-left: 24px;
  transform: rotateZ(-316deg);
  -webkit-transform: rotateZ(-316deg);
  position: relative;
  top: -2px;
  right: 0;
}
.nav .account .user a.active .arrow{
  transform: rotateZ(-135deg);
  -webkit-transform: rotateZ(-135deg);
  position: relative;
  top: 5px;
}
/* popover */
.show{display: block !important;}
.no-show{display: none !important;}
.popover-user{padding-bottom: 4px; width: 330px; display: none; z-index: 999;
  border: 1px solid #E5E7EB; border-radius: 8px; box-sizing: border-box;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff; position: absolute; right: 16px; top: 71px;}
.popover-user .pop-list{display: flex; flex-direction: column;}
.popover-user .pop-list a{
  display: flex; align-items: center; padding: 10px 0 10px 24px;
  border-top: 1px solid #E5E7EB;
}
.popover-user .pop-list a:hover{
  text-shadow: none;
  background: #F9FAFB;
}
.popover-user .pop-list a:hover > span{
  color: #111827;
}
.popover-user .pop-list a:hover > img{
  filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(4143%) hue-rotate(183deg) brightness(96%) contrast(94%);
}
.popover-user .pop-list a .icon{
  margin-right: 8px;
}
.popover-user .pop-list a span{
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 130%;
  color: #636871;
}
.popover-user .pop-list .user{
  display: flex;
  align-items: center;
  padding: 16px;
}
.popover-user .pop-list .user > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.popover-user .pop-list .user > .user-info{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.popover-user .pop-list .user > .user-info > .name{
  font-family: "MinSans-500";
}
.popover-user .pop-list .user > .user-info > .email{
  font-family: "MinSans-300";
  line-height: 130%;
}

/* ========================================= */
/* Footer */
/* ========================================= */
.footer-wrap{
  background: #F9FAFB;
}
.footer{
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #F9FAFB;
}
.footer .email-form{
  display: flex;
  margin: 56px 0;
}
.footer .input-email{
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 8px 0px 0px 8px;
  padding: 0 16px;
  outline: none;
}
.footer .input-email::placeholder{
  font-family: "MinSans-300";
  font-size: 0.875rem;
  color: #9CA3AF;
}
.footer .input-email:focus{
  outline: 2px solid #005691;
  outline-offset: -2px;
}
.footer .email-form button{
  box-sizing: border-box;
  background: #094166;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 33px;
  height: 42px;
  margin-left: auto;
}
.footer .email-form button > img{
  filter: brightness(0) saturate(100%) invert(98%) sepia(9%) saturate(93%) hue-rotate(264deg) brightness(116%) contrast(100%);
}

.terms{
  display: flex;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
  padding: 26px 16px;
}
.terms a{
  font-family: "MinSans-400";
  font-size: 1rem;
  line-height: 1;
  color: #9CA3AF;
  border-bottom: 1px solid #9CA3AF;
}
.terms a:nth-child(2){
  margin: 0 16px;
}

@media (max-width: 1440px) {
  .footer{
    padding: 0 16px;
  }
}

/* ========================================= */
/* main */
/* ========================================= */
main{
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .main-cont{
    padding: 0 16px;
  }
}
.main-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 64px;
}
form{width: 100%;}
.main-top .search-form{
  display: flex;
  margin-top: 98px;
}
.main-top .search-form .input-wrap{
  flex: 1 0 auto;
  position: relative;
}
.main-top .search-form .input-search{
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #9CA3AF;
  padding: 0 44px 0 8px;
  outline: none;
  font-family: "MinSans-400";
  font-size: 1rem;
  color: #111827;
  text-overflow: ellipsis;
}
.main-top .search-form .input-search::placeholder{
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #9CA3AF;
  padding-left: 24px;
  background-image: url(/images/icons/icon-search-placeholder.svg);
  background-position: left 1px top 3px;
  background-repeat: no-repeat;
}
.main-top .search-form .input-wrap .btn-clear {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  background-image: url(/images/icons/icon-search-x.svg);
  background-position: 13px center;
  background-repeat: no-repeat;
}
.main-top .search-form .input-wrap .btn-clear:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(11%) saturate(295%) hue-rotate(179deg) brightness(92%) contrast(87%);
}
.main-top .search-form .input-search:active,
.main-top .search-form .input-search:focus{
  border-bottom: 2px solid #094166;
}
.main-top .search-form .input-search:active + .btn-clear,
.main-top .search-form .input-search:focus + .btn-clear{
  filter: brightness(0) saturate(100%) invert(11%) sepia(5%) saturate(11%) hue-rotate(349deg) brightness(101%) contrast(95%);
}
.main-top .search-form button{
  box-sizing: border-box;
  background: #094166;
  border-radius: 8px;
  color: #fff;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 22px;
  height: 42px;
  margin-left: 13px;
  transition: background-color .2s ease-out 200ms;
}
.main-top .search-form button:hover{
  background: #005691;
}
.main-top .search-form button > img{
  filter: brightness(0) saturate(100%) invert(98%) sepia(9%) saturate(93%) hue-rotate(264deg) brightness(116%) contrast(100%);
}
.autosearch-items{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: auto;
}
.autosearch-items div {
  padding: 10px 16px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
}
.autosearch-items div:hover {
  background-color: #F9FAFB; 
}
.autosearch-active {
  background-color: #005691 !important; 
  color: #ffffff; 
}
/* ========================================= */
/* main -> slider */
/* ========================================= */
#slider-div{margin: 0 30px;}
#slider-div .slider-cont{
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding:16px;
}
#slider-div .slick-list {margin:0 -8px;}
.slick-slide {margin:0 8px;}
#slider-div img{object-fit: contain; width: 100%; aspect-ratio: 16 / 15;}
#slider-div p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-family: "MinSans-300";
  font-size: 1.125rem;
  color: #636871;
}
#slider-div .title{
  padding-top: 24px;
  font-family: "MinSans-400";
  font-size: 1.25rem;
  color: #111827;
}
#slider-div .sub-title{
  display: flex;
}
#slider-div .company{
  width: 75%;
}
#slider-div .year{
  margin-left: auto;
  max-width: 45px;
  color: #9CA3AF;
}

/* ========================================= */
/* main -> YouTube */
/* ========================================= */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ========================================= */
/* layout */
/* ========================================= */
.layout-2dan-wrap,
.layout-2dan-space-wrap,
.layout-3dan-wrap{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  align-items: center;
}
.layout-2dan{
  grid-column: 6 span / 6 span;
}
.layout-2dan-space{
  grid-column: 5 span / 5 span;
}
.layout-3dan{
  grid-column: 4 span / 4 span;
}
@media (max-width: 1024px) {
  .layout-2dan-wrap, 
  .layout-2dan-space-wrap,
  .layout-3dan-wrap{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .layout-2dan, 
  .layout-2dan-space{margin: 0 70px;}
  .layout-2dan-wrap .text-wrap,
  .layout-2dan-space-wrap .text-wrap{
    margin-right: 70px; margin-top: 24px;
  }
}

/* ========================================= */
/* main -> text-contents */
/* ========================================= */
.text-wrap .text-title{
  font-family: "MinSans-600";
  font-size: 1.5rem;  /* 24px */
  padding: 0 16px 20px 16px;
}
.text-wrap .text-cont{
  padding: 0 16px;
  font-family: "MinSans-400";
  font-size: 1.125rem;  /* 18px */
  line-height: 1.5;
  color: #636871;
  word-break: keep-all;
}
.dot-text-wrap{
  padding: 0 16px;
  text-indent: -20px;
}
.dot-text-wrap .dot::before{
  content: url(/images/icons/icon-text-dot.svg);
  margin-right: 8px;
}

/* ========================================= */
/* We -> people introduce */
/* ========================================= */
.we-wrap{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}
.we-card{
  background: #fff;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 32px;
}
.we-wrap .we-photo{
  max-width: 200px;
  max-height: 200px;
  /* cursor: pointer; */
}
.we-wrap .we-photo img{
  border-radius: 50%;
  object-fit: contain;
  height: 190px;
}
.we-wrap .we-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #CCCCCC;
}
.we-wrap .we-info .name{
  font-family: "MinSans-500";
  font-size: 2rem;
  color: #005691;
}
.we-wrap .we-info .position{
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #636871;
  text-align: center;
}
.we-wrap .we-works{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; row-gap: 8px;
}
.we-wrap .we-works span{
  background: #F0F0F0;
  border-radius: 4px;
  padding: 6px 10px;
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #636871;
}

@media (max-width: 1024px) {
  .we-wrap{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* ========================================= */
/* We -> company introduce */
/* ========================================= */
.we-biz-wrap{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  row-gap: 48px;
  align-items: center;
  justify-items: center;
}
.we-biz-wrap .we-photo{
  width: 100%;
  max-width: 200px;
  grid-column: span 2 / span 2;
}
.we-biz-wrap .we-photo img{
  object-fit: contain;
}
.we-biz-wrap .we-biz{
  grid-column: span 4 / span 4;
}

@media (max-width: 1024px) {
  .we-biz-wrap{
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.photo-wrap{
  width: 190px; height: 190px; perspective: 190px;
  margin: 0 auto;
}
.photo-wrap .reversal{
  width: 100%; height: 100%; position: relative;
  color: #fff; transform-style: preserve-3d;
}
.photo-wrap .front, .photo-wrap .back{
  width: 100%; height: 100%;
  border-radius: 16px;
  position: absolute; backface-visibility: hidden;
}
.photo-wrap .front{background: transparent;}
.photo-wrap .back{background: transparent; transform: rotateY(180deg);}
.text{color: #fff; 
  font-size: 68px;
  line-height: 170px;
  text-align: center;
}
.photo-wrap:hover .reversal{
  animation: flip-scale-down-diag-2 0.6s linear both;
}

@keyframes flip-scale-down-diag-2 {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(0, -1, 0, -180deg);
  }
}

/* ========================================= */
/* Partner page */
/* ========================================= */
.partner-wrap-4{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  row-gap: 48px;
}
.partner-wrap-3{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  row-gap: 48px;
}
.partner-card{
  background: transparent;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.partner-wrap-4 .text-wrap .text-title,
.partner-wrap-3 .text-wrap .text-title{
  font-family: "MinSans-500";
  font-size: 1.25rem;  /* 20px */
  line-height: 1.5;
  padding: 0;
}
.partner-wrap-4 .text-wrap .text-cont-s,
.partner-wrap-3 .text-wrap .text-cont-s{
  font-family: "MinSans-400";
  font-size: 1rem;  /* 16px */
  line-height: 1.5;
  color: #636871;
  padding: 0;
  max-height: 82px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.partner-wrap-4 .text-wrap .text-cont,
.partner-wrap-3 .text-wrap .text-cont{
  font-family: "MinSans-400";
  font-size: 1rem;  /* 16px */
  line-height: 1.5;
  color: #636871;
  padding: 0;
}
@media (max-width: 1024px) {
  .partner-wrap-4, .partner-wrap-3{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* ========================================= */
/* 서비스 이용약관 */
/* ========================================= */
.terms-wrap{
  width: 80%;
  margin: 0 auto;
}
.terms-frame{
  border-top: 5px solid #6a8a9a;
  margin-top: 50px;
  display: flex;
}
.terms-frame .text-l, .terms-frame .text-r{
  color: #6a8a9a;
  font-family: "MinSans-300";
  font-size: 0.875rem;
  padding: 4px 0;
}
.terms-frame .text-r{margin-left: auto;}
.terms-cont{padding-bottom: 100px;}
.terms-cont .great-title{
  font-family: "MinSans-700";
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0;
}
.terms-cont .chapter{
  color: #094166;
  font-family: "MinSans-500";
  font-size: 1.25rem;
}
.terms-cont .article{
  color: #6a8a9a;
  font-family: "MinSans-500";
  font-size: 0.875rem;
  margin: 16px 0 10px 16px;
}
.terms-cont .text, 
.terms-cont .text ul,
.terms-cont .text ul li,
.terms-cont .text ul li > ul li{
  font-family: "MinSans-400";
}
.terms-cont .text{
  color: #094166;
  font-size: 1rem;
  line-height: 1.7;
  margin: 0 20px 30px 20px;
  padding: 16px 24px;
  word-break: keep-all;
}
.terms-cont .round{
  border: 1px solid #d0dfe6;
  border-radius: 16px;
}
.terms-cont .line{
  border-top: 4px solid #d0dfe6;
  border-bottom: 4px solid #d0dfe6;
}
.terms-cont .text ul{
  margin-left: 20px;
  text-indent: -20px;
}
.terms-cont .text ul li{
  margin-left: 20px;
  text-indent: -18px;
}
.terms-cont .text ul li > ul li{
  color: #286188;
  margin-left: 3px;
  text-indent: -22px;
}
.terms-cont table{
  border: 1px solid #d0dfe6;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
.terms-cont th, .terms-cont thead{
  font-family: "MinSans-500";
  font-size: 0.9rem;
  text-align: center;
  color: #094166;
  background: #d0dfe6;
  border-bottom: 1px solid #bccad4;
}
.terms-cont td, .terms-cont th{
  padding: 1em 2.5em;
  vertical-align: middle;
}
.terms-cont td{
  font-family: "MinSans-300";
  border-bottom: 1px solid #d0dfe6;
  border-right: 1px solid #d0dfe6;
  background: #fff;
}
.terms-cont .text table ul{
  font-family: "MinSans-300";
  margin-left: 14px;
  text-indent: -11px;
}
.terms-cont .text table caption{
  font-family: "MinSans-200";
  caption-side: bottom;
  text-align: left;
  margin: 10px 0 16px 0;
}

/* ========================================= */
/* Chart page */
/* ========================================= */
.full-main{
  width: 100%;
  box-sizing: border-box;
}
.full-main .header{
  border: 1px solid #E5E7EB !important;
  box-shadow: none;
}
.chart-navbar{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  align-items: center;
  padding: 0 24px;
  height: 60px;
  background: #fff;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 60px;
  z-index: 2;
}
.chart-navbar .keyword{
  grid-column: 1 / 7;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "MinSans-500";
  font-size: 1.25rem;
  line-height: 1.5;
  color: #9CA3AF;
  min-width: 360px;
}
.chart-navbar .keyword-text{
  font-family: "MinSans-500";
  font-size: 1rem;
  line-height: 1;
  color: #9CA3AF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 80%;
}
.chart-navbar .keyword-badges{
  /* border: 1px solid red; */
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
  /* max-width: 283px; */
  max-width: 80%;
  height: 26px;
  overflow: hidden;
}
.chart-navbar .keyword-badges .badge{
  height: 26px;
  width: fit-content;
  background: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: default;
  font-family: "MinSans-500";
  font-size: 0.875rem;
  line-height: 1;
  color: #9CA3AF;
  padding: 0 8px;
}

.chart-navbar .tabs{
  grid-column: span 3 / 10;
  display: flex;
  gap: 8px;
  margin-left: auto;
}
.chart-navbar .tabs-r{
  grid-column: span 3 / 13;
  display: flex;
  gap: 8px;
  margin-left: auto;
}

@media (max-width: 1440px) {
  .chart-navbar .keyword{grid-column: 1 / 5;}
  .chart-navbar .tabs{grid-column: 6 / 10;}
}
@media (max-width: 1160px) {
  .chart-navbar{grid-template-columns: repeat(6, minmax(0, 1fr));}
  .chart-navbar .keyword{grid-column: 1 / 3;}
  .chart-navbar .keyword-text{max-width: 45%;}
  .chart-navbar .keyword-badges{max-width: 45%;}
  .chart-navbar .tabs{grid-column: 3 / 5;}
  .chart-navbar .tabs-r{grid-column: 5 / 7;}
}
@media (max-width: 1024px) {
  .chart-navbar .tabs-r{display: none;}
  .chart-navbar .tabs{grid-column: 3 / 6;}
}

/* ========================================= */
/* Chart page - button common */
/* ========================================= */
[class^="btn-32-"]{
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  height: 32px;
  padding: 0 10px;
  font-family: "MinSans-300";
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
[class^="btn-32-"] img{
  filter: brightness(0) saturate(100%) invert(66%) sepia(19%) saturate(171%) hue-rotate(179deg) brightness(95%) contrast(89%);
}
.btn-32-primary{background: #fff;color: #9CA3AF;}
.btn-32-primary:hover{background: #fff;border: 1px solid #094166;color:#094166;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);}
.btn-32-primary:hover img{
  filter: brightness(0) saturate(100%) invert(18%) sepia(20%) saturate(4874%) hue-rotate(179deg) brightness(96%) contrast(93%);
}
.btn-32-primary:focus, .btn-32-primary:active, .btn-32-primary.active{background: #094166;color: #fff;border: 1px solid #E5E7EB;}
.btn-32-primary:focus img, .btn-32-primary:active img, .btn-32-primary.active img{
  filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(7464%) hue-rotate(115deg) brightness(109%) contrast(101%);
}
.btn-32-secondary{background: #F9FAFB;color: #111827;}
.btn-32-secondary img{
  filter: brightness(0) saturate(100%) invert(6%) sepia(6%) saturate(6651%) hue-rotate(183deg) brightness(98%) contrast(92%);
}
.btn-32-secondary:hover{
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
}
.btn-32-book{background: #fff;color: #111827;}
.btn-32-book img{
  filter: brightness(0) saturate(100%) invert(7%) sepia(33%) saturate(991%) hue-rotate(182deg) brightness(98%) contrast(95%);
}
.btn-32-book:hover{
  border: 1px solid #094166; color: #094166;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
}
.btn-32-book:hover img{
  filter: brightness(0) saturate(100%) invert(18%) sepia(17%) saturate(4522%) hue-rotate(174deg) brightness(102%) contrast(95%);
}
.btn-32-book.active{background: #094166; color: #fff; border: 1px solid #E5E7EB;}
.btn-32-book.active img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(358deg) brightness(102%) contrast(101%);
}

/* ========================================= */
/* Chart page - container */
/* ========================================= */
.chart-container{
  /* border: 1px solid blue; */
  height: calc(100vh - 120px); overflow: auto; width: 100%;
  box-sizing: border-box;
}
.chart-container .content{
  position: relative;
  margin-left: 30%;
  width: calc((100vw - 60%) - 2px);
}
.chart-container .exam-chart{
  /* border: 1px solid sandybrown; */
}
.chart-container .exam-chart img{
  width: 100%; 
  height: calc(100vh - 120px); 
  object-fit: contain;
}
/* ========================================= */
/* Chart page - side 공통 (left-right)*/
/* ========================================= */
.aside{position: fixed;top:120px;bottom:0;
  width: 30%;
  z-index: 1;background: #fff;
  overflow: auto;
  transition: 0.5s ease-in-out;
}
#side-r{width: calc(30% + 2px) !important;}
.aside.left{
  left:0;border-right: 1px solid #E5E7EB;
  max-height: calc(100vh - 144px);
}
.aside.right{
  right:0;border-left: 1px solid #E5E7EB;
  max-height: calc(100vh - 144px);
}
.fold{width: 0px !important; opacity: 0;}

/* ========================================= */
/* Chart page - side Btn 공통 (left-right) */
/* ========================================= */
.btn-l, .btn-r{
  position: absolute;
  width: 24px; height: 56px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  z-index: 2;
}
.btn-l{top: 120px; left: calc((100% - 70%) - 12px);}
.btn-r{top: 120px; right: calc((100% - 70%) - 12px);}
.btn-l:hover, .btn-l:active, .btn-l:focus,
.btn-r:hover, .btn-r:active, .btn-r:focus{background: #E8F1F6;}

/* ========================================= */
/* Chart page - side(left) 내용 */
/* ========================================= */
/* selected-book */
.aside.left .selected-book{
  padding: 16px 24px 0 24px;
}
.selected-book::before{
  content: 'Selected book';
  background-image: url(/images/icons/icon-selected-book.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "MinSans-500";
  font-size: 0.5rem;
  color: #005691;
  padding-left: 14px;
}
.selected-book .title{
  margin-top: 8px;
  color: #005691 !important;
  font-family: "MinSans-500" !important;
}
.selected-book .sub-text,
.selected-book .sub-title > .year{
  color: #005691 !important;
}
/* book-list */
.aside.left > ul > li{
  padding: 16px 24px 0 24px;
}
.aside.left > ul > li > .title,
.selected-book .title{
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #111827;
  margin-bottom: 8px;
  max-height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.aside.left > ul > li > .sub-title,
.selected-book .sub-title{
  border-bottom: 1px solid #E5E7EB;
  padding-bottom: 16px;
  display: flex;
}
.aside.left > ul > li > .sub-title > .sub-text,
.selected-book .sub-text{
  font-family: "MinSans-400";
  font-size: 0.75rem;
  color: #636871;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.aside.left > ul > li > .sub-title > .year,
.selected-book .sub-title > .year{
  font-family: "MinSans-300";
  font-size: 0.75rem;
  color: #636871;
  max-width: 35px;
  margin-left: auto;
}
.aside.left > ul > li:hover{background: #F9FAFB;}
.aside.left > ul > li.active{background: #E7E7E7;}
.aside.left > ul > li.active .title{font-family: "MinSans-500";}

/* ========================================= */
/* Chart page - side(right) 내용 */
/* ========================================= */
.book-info-wrap{
  padding: 16px 24px 0 24px;
  margin-bottom: 24px;
}
.book-info-wrap .title{

}
.book-info-wrap .sub-text{
  font-family: "MinSans-300";
  font-size: 0.875rem;
  color: #636871;
  margin: 16px 0;
}
.book-info-wrap .review{
  display: flex;
}
.book-info-wrap .review p{
  font-family: "MinSans-400";
  font-size: 0.875rem;
  color: #111827;
}
.book-info-wrap .review b{
  font-family: "MinSans-500";
  font-size: 0.875rem;
  color: #005691;
  padding-left: 2px;
}
.book-info-wrap .review .star-wrap{
  display: flex;
  gap: 4px;
  margin-left: auto;
}
.book-info-wrap .buttons-wrap{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 8px;
}
@media (max-width: 1024px) {
  .book-info-wrap .buttons-wrap{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/* book-descript */
.book-descript-wrap{
  padding: 16px 24px;
}
/* book-depth */
.book-depth-wrap{
  display: flex; padding-bottom: 16px; flex-wrap: wrap;
}
.book-depth-wrap p{
  font-family: "MinSans-400";
  font-size: 1rem;
  color: #9CA3AF;
}
.book-depth-wrap p:nth-last-child(1){color: #636871;}
.book-depth-wrap img{
  filter: brightness(0) saturate(100%) invert(71%) sepia(8%) saturate(391%) hue-rotate(179deg) brightness(90%) contrast(87%);
}
/* book 내용 */
.book-descript-wrap .book-descript{
  padding-top: 16px;
}
.book-descript-wrap .book-descript > p{
  font-family: "MinSans-300";
  font-size: 1rem;
  color: #111827;
}

/* ========================================= */
/* Chart page - content (chart)부분 */
/* ========================================= */
/* 도움말, 위치찾기 */
.content .help-wrap{
  background: transparent;
  display: flex; gap: 8px; padding: 8px 16px;
  position: absolute; bottom: 24px; left: 0; z-index: 1;
}
.help-popup{
  width: 380px;
  height: 358px;
  position: absolute;
  top: calc(100% - 456px);
  left: 16px;
  z-index: 1;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05));
}
.help-popup .title{
  background: #094166;
  border-radius: 8px 8px 0px 0px;
  padding: 11px 16px;
  font-family: "MinSans-400";
  font-size: 1.125rem;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
}
.help-popup .title button{
  margin-left: auto;
}
.help-popup .title button img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(167deg) brightness(104%) contrast(101%);
}
.help-popup .text{
  padding: 16px;
  background: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
}
.help-popup .text .dot-text-wrap{padding: 0 0 0 24px;}
.help-popup .text .text-cont{
  font-family: "MinSans-300";
  font-size: 0.875rem;
  line-height: 1.2;
}
.help-popup b{
  font-family: "MinSans-600";
  font-size: inherit;
}
.help-popup .help-link{
  text-decoration-line: underline;
  font-size: 0.875rem;
  color: #005691;
}

/* layer-popup */
.modal-mask{background-color: #000; opacity: 0.5; width: 100%; height: 100vh; 
  position: fixed; top: 0; left: 0; z-index: 1000; display: none;}
.layer-popup{
  width: calc(30% - 24px);
  min-width: 400px;
  position: absolute;
  /* top: calc(100% - 494px);
  right: 16px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05));
  display: none;
}
.layer-popup .title{
  background: #094166;
  border-radius: 8px 8px 0px 0px;
  padding: 11px 16px;
  font-family: "MinSans-400";
  font-size: 1.125rem;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
}
.layer-popup .title button{
  margin-left: auto;
}
.layer-popup .title button img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(167deg) brightness(104%) contrast(101%);
}
.layer-popup .text{
  padding: 16px;
  background: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
}
.layer-popup .input-btn-form{display: flex;}
.layer-popup .input-readonly{
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 4px 0px 0px 4px;
  padding: 0 8px;
  outline: none;
  font-family: "MinSans-400";
  font-size: 0.875rem;
  text-overflow: ellipsis;
}
.layer-popup .input-btn-form button{
  box-sizing: border-box;
  background: #094166;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 10px;
  height: 38px;
  margin-left: auto;
  font-family: "MinSans-300";
  font-size: 1rem;
}

/* 화면 하단 progress-bar */
.content .progress-bar{
  width: 100%;
  height: 24px;
  display: flex;
  position: absolute; bottom: 0; left: 0;
}
.content .progress-bar .percent{
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #E5E7EB;
  font-family: "MinSans-400";
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .progress-bar .percent:nth-last-child(1){
  border-right: 0;
}
/* 필터 */
.controller{
  width: 230px;
  position: absolute;
  top: 8px; left: 16px;
}
.controller .controller-title{
  width: 100%;
  background: #094166;
  color: #fff;
  border: 1px solid #094166;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.controller .controller-title::before{
  content: url(/images/icons/icon-arrow-b.svg);
  padding-top: 6px; padding-right: 4px;
}
.controller .controller-title.filter-close{
  width: 100%;
  color: #094166;
  background: #fff;
  border: 1px solid #094166;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.controller .controller-title.filter-close::before{
  content: url(/images/icons/icon-arrow-r-filter.svg);
  padding-top: 6px; padding-right: 4px;
}
.controller .filters-wrap{
  height: calc(100vh - 250px);
  overflow: auto;
}
.controller .filters{
  background: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  border-bottom: 0;
}
.controller .filters .filter-title{
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "MinSans-300";
  font-size: 0.875rem;
  color: #111827;
  background: #F9FAFB;
  border-bottom: 1px solid #E5E7EB;
  border-radius: 4px 4px 0px 0px;
  padding: 6px 8px;
}
/* 안트디자인 - 슬라이드 들어갈 자리 */
.controller .filters .antd-slider{
  padding: 8px 16px;
  display: flex; align-items: center; justify-content: center; gap: 8px;
  font-family: "MinSans-400";
  font-size: 0.875rem;
  color: #636871;
}
.controller .filters .antd-slider:nth-last-child(1){
  border-bottom: 1px solid #E5E7EB;
}
/* 임시 range - 의미없음 삭제 */
input[type=range] {
  -webkit-appearance: none; 
  overflow: hidden;
  width: 100%; 
  height: 10px;
  background: transparent; 
  cursor: pointer;
  background: #e5e4e3;
  border-radius: 0;
  flex: 1;
}
input[type=range]:focus {
  outline: none; 
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #094166;
  border: 0.1px solid #094166;
  cursor: pointer;
}
/* 임시 range - 의미없음 삭제 */

/* filter-bar */
.controller .filter-bar{
  padding: 8px 8px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.controller .filter-bar .row{
  display: flex;
}
.controller .filter-bar .row img{
  margin-left: auto; 
  width: 18px;
  margin-left: 4px;
}
.controller .filter-bar .percent-wrap{width: 90%;}
.controller .filter-bar .percent{
  padding: 2px 8px;
  border-radius: 4px;
  font-family: "MinSans-400";
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 필터 구분선 */
.controller .line{
  background: #E5E7EB;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  height: 8px;
}

/* 필터 - 키워드 스타일 */
.controller-keyword{
  width: 230px;
  position: absolute;
  top: 40px; left: 16px;
}
.controller-keyword .filters{
  background: #FFFFFF;
  border: 1px solid #094166;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px;
}
.controller-keyword .filters .filter-title{
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "MinSans-500";
  font-size: 0.875rem;
  color: #094166;
  line-height: 1;
}
.controller-keyword .filters .filter-title button{margin-left: auto;}
.controller-keyword .filters .filter-title button img{width: 14px; height: 14px;}
.filters .tags{
  display: inline-flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
  /* max-height: 120px; */
  max-height: calc(100vh - 305px);
  overflow-y: auto;
  margin-top: 8px;
}
.filters .tags .tag{
  height: 24px;
  font-family: "MinSans-500";
  font-size: 0.875rem;
  line-height: 22px;
  padding: 0 4px 0 8px;
  color: #9CA3AF;
  background-color: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.filters .tag::after{
  content: "";
  background-image: url(/images/icons/icon-search-x.svg);
  background-size: 14px 14px;
  width: 14px; height: 14px;
  cursor: pointer; margin-left: 3px;

}
.filters .tag:hover, .filters .tag:active{color: #094166; border: 1px solid #094166;}
.filters .tag:hover::after, .filters .tag:active::after{
  filter: brightness(0) saturate(100%) invert(21%) sepia(51%) saturate(756%) hue-rotate(161deg) brightness(97%) contrast(104%);
}


