@import url('/css/import/reset.css');
@import url('/css/import/font.css');
@import url('/css/import/color.css');
@import url('/css/import/grid.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Common */
body{min-width: 780px;}

/* ========================================= */
/* Login */
/* ========================================= */
.login-body{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  padding: 0 16px;
  min-height: 100vh;
  align-items: center;
}
.login-wrap{
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 16px;
  padding: 0 16px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.login{
  grid-column: 2 / 6;
  text-align: center;
}
.login .title{
  font-family: "MinSans-600";
  font-size: 2.25rem;
  line-height: 1;
  color: #094166;
  margin: 48px 0;
}
/* Social-login */
.social-logins {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  cursor: pointer;
}
.social-login > img{object-fit: contain;}
.social-login.google{
  border: 1px solid #E5E7EB;
  background: #fff;
}
.social-login p.google{
  font-family: "Roboto";
  font-weight: 500;
}
.social-login:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.08);
}
.social-login > p {
  margin-left: 8px;
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 1;
  color: #111827;
}
.social-login.naver{background: #03C75A !important;}
.social-login p.naver{color: #fff !important;}
.social-login.kakao{background: #FEE500 !important;}
.social-login p.kakao{color: #371C1D !important;}
/* Login 반응형 */
/* XL */
@media all and (min-width: 1025px) and (max-width: 1440px) {
  .login-body{grid-template-columns: repeat(4, 1fr);}
  .login-wrap{grid-column: 2 / 4;}
}
/* L */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .login-body{grid-template-columns: repeat(6, 1fr);}
  .login-wrap{grid-column: 2 / 6;}
}
/* M */
@media (max-width: 768px) {
  .login-body{grid-template-columns: repeat(8, 1fr);}
  .login-wrap{grid-column: 2 / 8;}
}

/* ========================================= */
/* Header */
/* ========================================= */
.header{
  width: 100%;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.04));
  background: #fff;
  position: sticky;
  top: 0;
}
.logo a{
  font-size: 1.5rem;
  font-family: "MinSans-600";
}
.nav{
  margin-left: auto;
  display: flex;
  gap: 24px;
}
.nav a{
  padding: 10px;
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 130%;
  color: #9CA3AF;
}
.nav a:hover{
  color: #005691;
  text-shadow: 0.01rem 0.01rem #005691;
}
.nav a:active,
.nav a:focus{
  color: #005691;
}
.nav .account{
  display: flex;
  align-items: center;
}
.nav .account .photo input[type="file"]{
  display: none;
}
.nav .account .photo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nav .account .user{
  margin-left: 8px;
}
.nav .account .user a{
  color: #636871;
  font-family: "MinSans-400";
}
.nav .account .user a:hover{
  text-shadow: none;
  color: #005691;
}
.nav .account .user .arrow{
  border: solid #636871;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-left: 24px;
  transform: rotateZ(-316deg);
  -webkit-transform: rotateZ(-316deg);
  position: relative;
  top: -2px;
  right: 0;
}
.nav .account .user a.active .arrow{
  transform: rotateZ(-135deg);
  -webkit-transform: rotateZ(-135deg);
  position: relative;
  top: 5px;
}
/* popover */
.show{display: block !important;}
.popover-user{padding-bottom: 4px; width: 330px; display: none; z-index: 999;
  border: 1px solid #E5E7EB; border-radius: 8px; box-sizing: border-box;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff; position: absolute; right: 16px; top: 71px;}
.popover-user .pop-list{display: flex; flex-direction: column;}
.popover-user .pop-list a{
  display: flex; align-items: center; padding: 10px 0 10px 24px;
  border-top: 1px solid #E5E7EB;
}
.popover-user .pop-list a:hover{
  text-shadow: none;
  background: #F9FAFB;
}
.popover-user .pop-list a:hover > span{
  color: #111827;
}
.popover-user .pop-list a:hover > img{
  filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(4143%) hue-rotate(183deg) brightness(96%) contrast(94%);
}
.popover-user .pop-list a .icon{
  margin-right: 8px;
}
.popover-user .pop-list a span{
  font-family: "MinSans-300";
  font-size: 1rem;
  line-height: 130%;
  color: #636871;
}
.popover-user .pop-list .user{
  display: flex;
  align-items: center;
  padding: 16px;
}
.popover-user .pop-list .user > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.popover-user .pop-list .user > .user-info{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.popover-user .pop-list .user > .user-info > .name{
  font-family: "MinSans-500";
}
.popover-user .pop-list .user > .user-info > .email{
  font-family: "MinSans-300";
  line-height: 130%;
}

/* ========================================= */
/* Footer */
/* ========================================= */
.footer{
  /* max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; */
  background: #F9FAFB;
}
.footer .wrap{
  /* border-top: 0.7px solid #9CA3AF; */
  /* border-bottom: 0.7px solid #9CA3AF; */
  /* padding: 16px 0; */
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer .email-form{
  display: flex;
  margin: 56px 0;
}
.footer .input-email{
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 8px 0px 0px 8px;
  padding: 0 16px;
  outline: none;
}
.footer .input-email::placeholder{
  font-size: 0.875rem;
  color: #9CA3AF;
}
.footer .email-form button{
  box-sizing: border-box;
  background: #094166;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 33px;
  height: 42px;
  margin-left: auto;
}
.footer .email-form button > img{
  filter: brightness(0) saturate(100%) invert(98%) sepia(9%) saturate(93%) hue-rotate(264deg) brightness(116%) contrast(100%);
}

.terms{
  display: flex;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
  padding: 26px 16px;
}
.terms a{
  font-family: "MinSans-400";
  font-size: 1rem;
  line-height: 1;
  color: #9CA3AF;
  border-bottom: 1px solid #9CA3AF;
}

@media (max-width: 1440px) {
  .footer{
    /* padding: 56px 32px; */
  }
}

/* ========================================= */
/* 서비스 이용약관 */
/* ========================================= */
.terms-wrap{
  width: 80%;
  margin: 0 auto;
}
.terms-frame{
  border-top: 5px solid #6a8a9a;
  margin-top: 50px;
  display: flex;
}
.terms-frame .text-l, .terms-frame .text-r{
  color: #6a8a9a;
  font-family: "MinSans-300";
  font-size: 0.875rem;
  padding: 4px 0;
}
.terms-frame .text-r{margin-left: auto;}
.terms-cont{padding-bottom: 100px;}
.terms-cont .great-title{
  font-family: "MinSans-700";
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0;
}
.terms-cont .chapter{
  color: #094166;
  font-family: "MinSans-500";
  font-size: 1.25rem;
}
.terms-cont .article{
  color: #6a8a9a;
  font-family: "MinSans-500";
  font-size: 0.875rem;
  margin: 16px 0 10px 16px;
}
.terms-cont .text, 
.terms-cont .text ul,
.terms-cont .text ul li,
.terms-cont .text ul li > ul li{
  font-family: "MinSans-400";
}
.terms-cont .text{
  color: #094166;
  font-size: 1rem;
  line-height: 1.7;
  margin: 0 20px 30px 20px;
  padding: 16px 24px;
  word-break: keep-all;
}
.terms-cont .round{
  border: 1px solid #d0dfe6;
  border-radius: 16px;
}
.terms-cont .line{
  border-top: 4px solid #d0dfe6;
  border-bottom: 4px solid #d0dfe6;
}
.terms-cont .text ul{
  margin-left: 20px;
  text-indent: -20px;
}
.terms-cont .text ul li{
  margin-left: 20px;
  text-indent: -18px;
}
.terms-cont .text ul li > ul li{
  color: #286188;
  margin-left: 3px;
  text-indent: -22px;
}
.terms-cont table{
  border: 1px solid #d0dfe6;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}
.terms-cont th, .terms-cont thead{
  font-family: "MinSans-500";
  font-size: 0.9rem;
  text-align: center;
  color: #094166;
  background: #d0dfe6;
  border-bottom: 1px solid #bccad4;
}
.terms-cont td, .terms-cont th{
  padding: 1em 2.5em;
  vertical-align: middle;
}
.terms-cont td{
  font-family: "MinSans-300";
  border-bottom: 1px solid #d0dfe6;
  border-right: 1px solid #d0dfe6;
  background: #fff;
}
.terms-cont .text table ul{
  font-family: "MinSans-300";
  margin-left: 14px;
  text-indent: -11px;
}
.terms-cont .text table caption{
  font-family: "MinSans-200";
  caption-side: bottom;
  text-align: left;
  margin: 10px 0 16px 0;
}












